<!DOCTYPE html> 
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" 
xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3"> 
<head> 
    <title>Getting Started: Serving Web Content</title> 
</head> 
<body> 
    <h1 th:inline="text">Demo Hello With ThymeLeaf</h1> 
    <img th:src="@{/images/springboot.jpeg}" alt="springboot">
    <p th:text="'Hello, ' + ${name} + '!'"></p> 
</body> 
</html> 